:root {
  --FuentePrincipal: 'Roboto Slab', serif;
  --FuenteSecundaria: 'Open Sans', sans-serif;
  --Padding1: 1em; 
  --Padding2: 1.5em; 
  --Padding3: 2em;
}

body {
  display: grid; 
  grid-template: 1fr / 1fr 2fr;
  grid-template-areas: "menu" "content";
}

section.menu {
  width: 330px;
  grid-area: menu;
}

div.search {
  border: 2px solid rgba(210, 215, 217, 0.75); 
  width: 200px;
  margin: 0 auto;
  margin-top: 1em;
  padding: .5em;
  border-radius: 7px;
  font-family: var(--FuenteSecundaria);
  font-size: .9em;
}

.search input {
  border: none;
  outline: none;
}

.search span {
  color: rgba(102, 106, 107, 0.705);
}
